---
import Picture from "astro/components/Picture.astro";
const producto = Astro.props;
---
<a
    href={`/products/${producto.id}`}
    class="relative flex flex-col items-center hover:scale-105 transition-all duration-200 cursor-pointer group my-2 sm:my-3 md:my-4"
>
  <div class="aspect-square w-full overflow-hidden rounded-3xl">
    <Picture
        class="w-full h-full object-cover"
        src={producto.url}
        formats={["png"]}
        alt={producto.alt}
    />
  </div>
  <p class="text-white pt-2 text-base sm:text-lg md:text-2xl font-bold text-center">
    {producto.alt}
  </p>
</a>