---
import Picture from "astro/components/Picture.astro";
const producto = Astro.props;
---
<a
    href={`/products/${producto.id}`}
    class="relative flex flex-col items-center hover:scale-105 transition-all duration-200 cursor-pointer group my-4 sm:my-6 md:my-8 lg:my-10 xl:my-12"
>
  <Picture
      class="w-40 h-40 sm:w-48 sm:h-48 md:w-60 md:h-60 lg:w-80 lg:h-80"
      src={producto.url}
      formats={["png"]}
      alt={producto.alt}
  />
  <p class="text-white pt-2 text-xl sm:text-2xl md:text-4xl font-bold text-center">
    {producto.alt}
  </p>
</a>