---
import Picture from "astro/components/Picture.astro";
const producto = Astro.props;
---

<div
  class="relative flex justify-center hover:scale-105 transition-all duration-200 group"
>
  <p
    class="absolute bottom-2.5 w-5/6 text-white bg-linear-to-r from-blue-600 to-cyan-500 rounded-full px-2 text-center py-[0.10rem] group-hover:text-shadow-white"
  >
    {producto.alt}
  </p>
  <Picture
    class="w-52"
    src={producto.url}
    formats={["png"]}
    alt={producto.alt}
  />
</div>
