@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.sombra-title{
    text-shadow: 4px 4px 3px rgba(0,0,0,1);
}

@utility text-shadow-white {
    text-shadow: 0px 0px 9.6px rgba(255, 255, 255, 1);
}

.adaptable-btn {
  display: inline-block;
  background: linear-gradient(90deg, #00eaff 0%, #00cfff 100%);
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 2em;
  text-align: center;
  white-space: pre-line;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: background 0.2s;
}
.adaptable-btn:hover {
  background: linear-gradient(90deg, #00cfff 0%, #00eaff 100%);
}