@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.borde_color {
    border-color: #62B5C4;
}

.text-shadow-white {
    text-shadow: 0px 0px 9.6px rgba(255, 255, 255, 1);
  }