---
import { Picture } from "astro:assets";
import imagen1 from "../../assets/images/logo_yuntas.webp"
---

<section
  class="relative w-full py-36 flex justify-center bg-gradient-to-b from-blue-900 to-indigo-950 px-8 text-white"
>
  <div class="max-w-5xl flex flex-col md:flex-row items-center gap-6 md:gap-12">
    <!-- Logo -->
    <div class="flex-shrink-0">
      <Picture
        src={imagen1}
        alt="Logo Yuntas"
        class="w-32 md:w-60"
      />
    </div>
    <!-- Texto -->
    <div class="text-center md:text-center">
      <p class="text-lg md:text-3xl font-light">
        En Yuntas Producciones
        <span class="font-bold"
          >transformamos espacios con soluciones tecnológicas</span
        >
        innovadoras en iluminación y diseño, ofreciendo calidad y vanguardia
        <span class="font-bold">para crear experiencias inolvidables</span>.
      </p>
    </div>
  </div>
  <!-- Esquinas decorativas -->
  <div
    class="absolute top-15 left-15 border-t-2 border-l-2 border-cyan-400 w-80 h-60"
  >
  </div>
  <div
    class="absolute bottom-15 right-15 border-b-2 border-r-2 border-cyan-400 w-80 h-60"
  >
  </div>
</section>
