

<div class="w-full h-100 bg-white p-6 flex items-center justify-center space-x-4 border-b-90 border-blue-900">
    <div class="flex flex-col items-center">
      <div class="bg-blue-400 p-4 rounded-lg">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-black">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25a.75.75 0 00-.75-.75h-6a.75.75 0 00-.75.75V9M4.5 9l1.5 12h12l1.5-12M9 12h6" />
        </svg>
      </div>
      <p class="text-blue-500 font-bold text-lg mt-2 underline">MISIÓN</p>
    </div>
    <p class=" text-gray-700 max-w-lg text-2xl ml-20">
      Transformar espacios y generar experiencias inolvidables mediante productos de servicios de iluminación y diseño innovadores, superando expectativas y satisfaciendo a los clientes.
    </p>
</div>
