<section class="bg-cyan-500 py-20">
    <div class="max-w-4xl mx-auto flex justify-between items-center text-white">
      <div class="flex flex-col items-center space-y-2">
        <img src="../src/assets/images/about/equipo.webp" alt="Equipo" class="w-20 h-20" />
        <p class="text-center text-base font-bold">Somos un <br> <span class="font-extrabold">EQUIPO</span></p>
      </div>
      <div class="flex flex-col items-center space-y-2">
        <img src="../src/assets/images/about/cliente.webp" alt="Cliente" class="w-20 h-20" />
        <p class="text-center text-base font-bold">Velamos por <br> <span class="font-extrabold">EL CLIENTE</span></p>
      </div>
      <div class="flex flex-col items-center space-y-2">
        <img src="../src/assets/images/about/apreton-de-manos.webp" alt="Respeto" class="w-20 h-20" />
        <p class="text-center text-base font-bold">Somos <br> <span class="font-extrabold">RESPETUOSOS</span></p>
      </div>
      <div class="flex flex-col items-center space-y-2">
        <img src="../src/assets/images/about/orientacion.webp" alt="Orientación" class="w-20 h-20" />
        <p class="text-center text-base font-bold">Orientación <br> <span class="font-extrabold">AL CLIENTE</span></p>
      </div>
    </div>
  </section>
  