---
import { Picture } from "astro:assets";
import imagen1 from "../../assets/images/logo_yuntas.webp"
---

<section class="w-full h-100 bg-white p-6 flex items-center justify-evenly">
  <p class="text-gray-600 text-2xl font-semibold">
    Ser reconocidos como líderes en soluciones<br />tecnológicas para
    iluminación y diseño en el mercado<br />nacional peruano, impulsando la
    innovación<br />constante y creando un impacto positivo en la<br />comunidad
    local.
  </p>
  <div class="flex flex-col items-center">
    <Picture
      src={imagen1}
      alt="Vision"
      class="bg-blue-500/90 rounded-3xl h-36 p-4 w-auto"
    />
    <div class="flex-col w-full">
      <p class="text-blue-500 text-center font-extrabold text-3xl mt-4 mb-1">
        VISIÓN
      </p>
      <hr class="border-2 border-blue-500" />
    </div>
  </div>
</section>