<section
  class="w-full bg-white p-6 flex md:flex-col flex-row items-center justify-evenly md:h-full"
>
  <div class="flex flex-col items-center md:order-1 md:w-1/2">
    <img
      src="../src/assets/images/about/vision.webp"
      class="bg-blue-500/90 rounded-3xl h-24 md:h-36 p-4"
    />
    <div class="flex-col w-full">
      <p class="text-blue-500 text-center font-extrabold text-2xl md:text-3xl mt-4 mb-1 md:mt-0">
        VISIÓN
      </p>
      <hr class="border-2 border-blue-500" />
    </div>
  </div>
  <p class="text-gray-600 text-xl md:text-2xl font-semibold md:order-2 md:w-1/2 md:text-center flex-grow flex items-center justify-center">
    Ser reconocidos como líderes en soluciones<br />tecnológicas para
    iluminación y diseño en el mercado<br />nacional peruano, impulsando la
    innovación<br />constante y creando un impacto positivo en la<br />comunidad
    local.
  </p>
</section>
