---
import AboutComponent from "../components/about/AboutComponent.astro";
import MissionCard from "../components/about/MissionCard.astro";
import ValoresCorporativos from "../components/about/ValoresCorporativos.astro";
import VisionCard from "../components/about/VisionCard.astro";
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import imagen1 from "../assets/images/about/image.webp"
---

<Layout title="Sobre Nosotros">
  <section class="relative">
    <Picture
      src={imagen1}
      formats={["webp"]}
      alt="Imagen"
      class="w-full max-h-[100vh]"
    />
    <div class="absolute inset-0 flex flex-col justify-center items-center">
      <h1 class="text-4xl text-center Montserrat font-bold text-cyan-500 sombra-title">
        TU SOCIO PARA PERSONALIZAR
      </h1>
      <h1 class="text-7xl text-center Montserrat font-black text-white sombra-title">
        TU NEGOCIO
      </h1>
    </div>
  </section>
  <AboutComponent />
  <MissionCard />
  <VisionCard />
  <ValoresCorporativos />
</Layout>
