---
// Importaciones
import ArticuloCard from "../components/blog/ArticuloCard.astro";
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import imagen1 from "../assets/images/blog/banner_blog.webp";
import { articles } from "./blogs/[articleId].astro";
---

<Layout title="Blog">
  <section class="relative h-screen">
    <Picture src={imagen1} formats={["webp"]} alt="Imagen" class="w-full h-full object-cover" />
    <div class="absolute inset-0 flex flex-col justify-center items-center text-center">
      <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl Montserrat font-black text-white sombra-title">
        Blog Yuntero
      </h1>
    </div>
  </section>
  <div class="w-full bg-white text-blue-950 text-3xl font-extrabold text-center h-20 content-center">
    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl">DESCUBRE MÁS SOBRE NUESTROS ARTÍCULOS</h2>
  </div>
  <section class="p-24 text-white bg-linear-to-b from-blue-900 to-indigo-950 flex flex-col overflow-hidden">
    <h3 class="text-3xl font-bold">ARTÍCULOS</h3>
    <div class="flex justify-center mt-10 w-full">
      <div class="bg-gray-300 rounded-2xl p-8 w-full flex items-center relative">
        <input
            type="text"
            placeholder="Buscar..."
            class="w-full bg-white placeholder-black px-6 py-3 rounded-full text-black text-xl focus:outline-none"
        />
        <button class="absolute right-16 top-1/2 transform -translate-y-1/2 text-black text-lg">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </button>
      </div>
    </div>
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-7">
      {articles.map((article) => (
        <ArticuloCard key={article.id} {...article} class="w-full" />
      ))}
    </div>
  </section>
</Layout>


