---
// Importaciones
import SearchBar from "../pages/blogs/SearchBar";
import Layout from "../layouts/Layout.astro";
import imagen1 from "../assets/images/blog/banner_blog.webp";

// Metadatos específicos para la página general del blog
const generalMetadata = {
  titulo: "Blog de Innovación en Luces LED y Tendencias en Diseño Sostenible",
  description: "Explore el blog de Yuntas Publicidad para conocer a fondo las novedades en construcción y diseño. Encuentra las tendencias que están transformando el sector."
};

// Consumir blogs desde la API
const res = await fetch("https://apiyuntas.yuntaspublicidad.com/api/blogs");
const apiResponse = await res.json();
const allArticles = apiResponse.data;
---

<Layout 
  title={generalMetadata.titulo}
  description={generalMetadata.description} 
  canonicalUrl="https://yuntaspublicidad.com/blog/"
>
  <!-- Banner -->
  <section class="relative h-screen">
    <img src={imagen1.src} alt="Imagen" class="w-full h-full object-cover" />
    <div class="absolute inset-0 flex flex-col justify-center items-center text-center">
      <h1 class="text-5xl md:text-7xl font-black text-white">Blog Yuntero</h1>
    </div>
  </section>

  <section class="bg-gradient-to-b from-blue-900 to-indigo-950 p-12 text-white">
    <div class="flex justify-center">
      <SearchBar client:load articles={allArticles} />
    </div>
  </section>
</Layout>