---
import ArticuloCard from "../components/blog/ArticuloCard.astro";
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import imagen1 from "../assets/images/blog/banner_blog.webp";
const art_cards = [
  {
    title: "PANELES PVC",
    description: "Durabilidad y estilo al alcance de todos.",
  },
  {
    title: "PANTALLAS LED",
    description: "Tecnología avanzada para una visualización impecable.",
  },
  {
    title: "TECHOS LED",
    description: "Crea ambientes modernos y sostenibles con los Techos LED.",
  },
  {
    title: "TUNELES LED",
    description:
      "Crea ambientes mágicos con los Túneles LED con un diseño impactante",
  },
];
---

<Layout title="Blog">
  <section class="relative">
    <Picture src={imagen1} formats={["webp"]} alt="Imagen" class="w-full max-h-[100vh]" />
    <div class="absolute inset-0 flex flex-col justify-center items-center">
      <h1 class="text-4xl text-center Montserrat font-bold text-cyan-500 sombra-title">
        Blog Yuntero
      </h1>
      <h1 class="text-7xl text-center Montserrat font-black text-white sombra-title">
        DESCUBRE MÁS SOBRE NUESTROS PRODUCTOS
      </h1>
    </div>
  </section>
  <section
    class="p-24 text-white bg-linear-to-b from-blue-900 to-indigo-950 flex flex-col"
  >
    <h3 class="text-3xl font-bold">ARTICULOS</h3>
    <div class="w-full flex flex-wrap justify-between">
      {
        art_cards.map((card) => {
          return <ArticuloCard {...card} />;
        })
      }
    </div>
  </section>
</Layout>
