---
import Header from "../components/dashboard/Header.astro";
import Sidebar from "../components/dashboard/Sidebar.tsx";
import MainTable from "./admin-pages/MainTable.tsx";
import AdminLayout from "../layouts/AdminLayout.astro";
---
<AdminLayout title="dashboard">
    <div class="flex flex-col h-screen">
        <!-- Header ocupando todo el ancho -->
        <Header />

        <!-- Contenedor principal con Sidebar a la izquierda y DataTable a la derecha -->
        <div class="flex flex-1">
            <Sidebar />
            <div class="flex-1 p-4">
                <MainTable />
            </div>
        </div>
    </div>
</AdminLayout>