---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Yuntas">
  <section class="relative w-full h-dvh flex justify-center items-center">
    <img
      src="../src/assets/images/inicio/slider/slider-1.webp"
      alt=""
      class="absolute z-0 w-full h-full object-cover object-bottom"
    />
    <h1
      class="relative z-10 text-cyan-500 font-bold text-5xl flex flex-col text-center"
    >
      ESPECIALISTAS
      <span class="text-8xl text-white">EN DISEÑAR TU ESPACIO</span>
    </h1>
  </section>
</Layout>
