---
import ProductCard from "../components/products/ProductCard.astro";
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import imagenPrincipio from "../assets/images/products/principio.webp";
import imagen1 from "../assets/images/products/letreros_neon_led.webp";
import imagen2 from "../assets/images/products/sillas_y_mesas_led.webp";
import imagen3 from "../assets/images/products/pisos_led.webp";
import imagen4 from "../assets/images/products/barras_pixel_led.webp";
import imagen5 from "../assets/images/products/tuneles_led.webp";
import imagen6 from "../assets/images/products/menu_boards.webp";
import imagen7 from "../assets/images/products/letras_pintadas.webp";
import imagen8 from "../assets/images/products/displays.webp";
import imagen9 from "../assets/images/products/hologramas_3d.webp";
import imagen10 from "../assets/images/products/relojes_digitales.webp";
import imagen11 from "../assets/images/products/pantallas_led.webp";
import imagen12 from "../assets/images/products/techos_led.webp";
let productos = [
  { id: 1, url: imagen1, alt: "Letreros Neón LED" },
  { id: 2, url: imagen2, alt: "Sillas y Mesas LED" },
  { id: 3, url: imagen3, alt: "Pisos LED" },
  { id: 4, url: imagen4, alt: "Barras Pixel LED" },
  { id: 5, url: imagen5, alt: "Túneles LED" },
  { id: 6, url: imagen6, alt: "Menu Boards" },
  { id: 7, url: imagen7, alt: "Letras Pintadas" },
  { id: 8, url: imagen8, alt: "Displays" },
  { id: 9, url: imagen9, alt: "Hologramas 3D" },
  { id: 10, url: imagen10, alt: "Relojes Digitales" },
  { id: 11, url: imagen11, alt: "Pantallas LED" },
  { id: 12, url: imagen12, alt: "Techos LED" },
  { id: 13, url: imagen12, alt: "Techos LED" },
  { id: 14, url: imagen12, alt: "Techos LED" },
  { id: 15, url: imagen12, alt: "Techos LED" },
  { id: 5, url: imagen5, alt: "Túneles LED" },
  { id: 5, url: imagen5, alt: "Túneles LED" },
  { id: 5, url: imagen5, alt: "Túneles LED" },
];
const groupedProducts = [];
for (let i = 0; i < productos.length; i += 4) {
  groupedProducts.push(productos.slice(i, i + 4));
}
---
<Layout title="Productos">
  <section class="relative">
    <Picture
      src={imagenPrincipio}
      formats={["webp"]}
      alt="Banner de Productos"
      class="w-full max-h-[100vh]"
    />
    <div class="absolute inset-0 flex flex-col justify-center items-center">
      <h1 class="text-4xl text-center Montserrat font-bold text-cyan-500 sombra-title">
        DESCUBRE NUESTRA INNOVADORA
      </h1>
      <h1 class="text-7xl text-center Montserrat font-black text-white sombra-title">
        LÍNEA DE PRODUCTOS
      </h1>
    </div>
  </section>
  <section
    class="w-full bg-linear-to-b from-blue-900 to-indigo-950 px-48 py-20"
  >
    <hr class="w-2/4 border-cyan-400 place-self-center mb-16" />
    <div>
      <h2 class="text-5xl Montserrat font-medium text-white text-shadow-white">
        Nuestros Productos
      </h2>
      <p class="text-xl Montserrat font-medium text-white/75">
        Descubre nuestra innovadora línea de productos
      </p>
    </div>
    <div class="mt-10">
      <h3 class="text-2xl Montserrat font-medium text-white/75">
        Productos LED y 3D
      </h3>
    </div>
    {
      groupedProducts.map((row) => (
        <div class="flex flex-row justify-between border-b-2 border-cyan-300/50 py-12 flex-wrap">
          {row.map((producto) => (
            <ProductCard {...producto} />
          ))}
        </div>
      ))
    }
  </section>
</Layout>
