---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import { Picture } from 'astro:assets';
import imagenPrincipio from "../assets/images/products/principio.png";
import imagen1 from "../assets/images/products/letreros_neon_led.png";
import imagen2 from "../assets/images/products/sillas_y_mesas_led.png";
import imagen3 from "../assets/images/products/pisos_led.png";
import imagen4 from "../assets/images/products/barras_pixel_led.png";
import imagen5 from "../assets/images/products/tuneles_led.png";
import imagen6 from "../assets/images/products/menu_boards.png";
import imagen7 from "../assets/images/products/letras_pintadas.png";
import imagen8 from "../assets/images/products/displays.png";
import imagen9 from "../assets/images/products/hologramas_3d.png";
import imagen10 from "../assets/images/products/relojes_digitales.png";
import imagen11 from "../assets/images/products/pantallas_led.png";
import imagen12 from "../assets/images/products/techos_led.png";
import "../styles/products.css";
let productos = [
  { "id": 1, "url": imagen1, "alt": "Letreros Neón LED" },
  { "id": 2, "url": imagen2, "alt": "Sillas y Mesas LED" },
  { "id": 3, "url": imagen3, "alt": "Pisos LED" },
  { "id": 4, "url": imagen4, "alt": "Barras Pixel LED" },
  { "id": 5, "url": imagen5, "alt": "Túneles LED" },
  { "id": 6, "url": imagen6, "alt": "Menu Boards" },
  { "id": 7, "url": imagen7, "alt": "Letras Pintadas" },
  { "id": 8, "url": imagen8, "alt": "Displays" },
  { "id": 9, "url": imagen9, "alt": "Hologramas 3D" },
  { "id": 10, "url": imagen10, "alt": "Relojes Digitales" },
  { "id": 11, "url": imagen11, "alt": "Pantallas LED" },
  { "id": 12, "url": imagen12, "alt": "Techos LED" },
  { "id": 13, "url": imagen12, "alt": "Techos LED" },
  { "id": 14, "url": imagen12, "alt": "Techos LED" },
  { "id": 15, "url": imagen12, "alt": "Techos LED" },
  { "id": 5, "url": imagen5, "alt": "Túneles LED" },
  { "id": 5, "url": imagen5, "alt": "Túneles LED" },
  { "id": 5, "url": imagen5, "alt": "Túneles LED" },
]
const groupedProducts = [];
for (let i = 0; i < productos.length; i += 4) {
  groupedProducts.push(productos.slice(i, i + 4));
}
---

<Layout title="Productos">
    <section class="relative">
        <Picture src={imagenPrincipio} formats={['png']} alt="imagenPrincipio" />
        <div class="absolute inset-0 flex flex-col justify-center items-center">
            <p class="text-[2.5rem] Montserrat font-bold text-[#23C1DE]">DESCUBRE NUESTRA INNOVADORA</p>
            <p class="text-[4rem] Montserrat font-black text-[#FFFFFF]">LÍNEA DE PRODUCTOS</p>
        </div>
    </section>
    <section class="bg-[#00031E] px-[200px]">
        <div class="flex justify-center">
            <div class="border-b-2 borde_color pt-[50px] mb-[50px] w-1/2"></div>
        </div>
        <div class="px-[25px]">
            <p class="text-[3rem] Montserrat font-medium text-[#FFFFFF] text-shadow-white">Nuestros Productos</p>
            <p class="text-[1.25rem] Montserrat font-medium text-[#FFFFFF] opacity-75">Descubre nuestra innovadora línea de productos</p>
            <p class="text-[1.563rem] Montserrat font-medium text-[#FFFFFF] opacity-75">Productos LED y 3D</p>
        </div>
        {groupedProducts.map((row) => (
            <div class="flex flex-row justify-between border-b-2 borde_color py-[50px] flex-wrap px-[25px]">
              {row.map((producto) => (
                <Picture class="w-[207.24px]" src={producto.url} formats={['png']} alt={producto.alt} />
              ))}
            </div>
          ))}
    </section>
</Layout>
