---

---

<footer class="bg-[#0E2A4E] text-white py-16">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-70">
      
      <!-- Logo y Redes Sociales -->
      <div class="text-center md:text-left mb-4 md:mb-0">
        <img src="../src/assets/images/logo_yuntas.webp" alt="Yuntas Logo" class="h-20 mx-auto md:mx-0" />
        <div class="flex justify-center md:justify-start gap-4 mt-2">
          <a href="#"><i class="fab fa-facebook text-white text-xl"></i></a>
          <a href="#"><i class="fab fa-instagram text-white text-xl"></i></a>
          <a href="#"><i class="fab fa-linkedin text-white text-xl"></i></a>
          <a href="#"><i class="fab fa-whatsapp text-white text-xl"></i></a>
        </div>
      </div>
  
      <!-- Dirección y Horario -->
      <div class="text-center md:text-left mb-4 md:mb-0">
        <h3 class="font-semibold">Dirección</h3>
        <p>Urb. Alameda La Rivera Mz F Lt 30</p>
        <h3 class="font-semibold mt-2">Horario</h3>
        <p>L - V: 9 a.m - 5 p.m</p>
        <p>S: 9 a.m - 2 p.m</p>
        <p class="text-sm text-white-400 mt-2">Libro de reclamaciones</p>
      </div>
  
      <!-- Contacto -->
      <div class="text-center md:text-left">
        <h3 class="font-semibold">Contacto</h3>
        <p>📞 +51 912 849 782</p>
        <p>📧 <a href="mailto:yuntasproducciones@gmail.com" class="text-blue-300">yuntasproducciones@gmail.com</a></p>
      </div>
  
    </div>
  </footer>
  