---
import logo from "../../assets/images/yuntas_publicidad_logo.webp";
---

<header
  class="col-span-2 bg-blue-950 text-white py-4 px-4 flex justify-between items-center relative"
>
  <!-- titulo -->
  <h2 class="hidden md:block text-lg lg:text-3xl font-bold tracking-wide text-center flex-1">
    SECCION PRINCIPAL
  </h2>
</header>
