---
import logo from "../../assets/images/yuntas_publicidad_logo.webp";
---

<header
  class="col-span-2 bg-blue-950 text-white py-4 px-4 flex justify-between items-center relative"
>
  <!-- boton hamburguesa admin -->
  <button
    id="admin-menu-toggle"
    class="lg:hidden absolute left-4 top-1/2 -translate-y-1/2 w-10 h-10 flex items-center justify-center"
    onclick="document.body.classList.toggle('sidebar-open')"
  >
    <svg
      class="w-6 h-6"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </button>

  <!-- logo -->
  <div class="flex items-center space-x-4 ml-12 lg:ml-0">
    <img src={logo.src} alt="Logo" class="h-12 w-12" />
    <h1 class="text-2xl lg:text-3xl font-semibold">Yuntas</h1>
  </div>

  <!-- titulo -->
  <h2 class="hidden md:block text-lg lg:text-3xl font-bold tracking-wide text-center flex-1">
    SECCION PRINCIPAL
  </h2>
</header>
