---
import logo from "../../assets/images/logo_yuntas.webp";
---

<header
  class="col-span-2 bg-blue-950 text-white py-4 px-4 flex justify-between items-center"
>
  <div class="flex items-center space-x-4">
    <img src={logo.src} alt="Logo" class="h-16 w-16" />
    <h1 class="text-3xl font-semibold">Yuntas</h1>
  </div>
  <h2 class="text-3xl font-bold tracking-wide">SECCIÓN: PRINCIPAL</h2>
</header>
