---
const card = Astro.props;
---

<div
  class="bg-white rounded-2xl text-black h-80 w-80 my-10 hover:scale-110 transition-all duration-300 shadow-2xl"
>
  <img
    src=`../src/assets/images/blog/article_cards/${card.title}.webp`
    alt={card.title}
    class="w-full object-cover rounded-t-2xl object-center h-4/6"
  />
  <div class="h-2/6 w-full px-4 py-1">
    <p class="font-bold">{card.title}</p>
    <p>{card.description}</p>
  </div>
</div>
