---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import AdminDashboard from "../../components/admin/Admin";
import SeguimientoTabla from "../../components/dashboard/tables/seguimiento/SeguimientoTable";
---

<LayoutAdmin title="SEGUIMIENTO">
  <!-- Componente de autenticación que se ejecuta primero -->
  <AdminDashboard client:only="react" />

  <!-- Contenido principal que solo se muestra si está autenticado -->
  <div class="flex-1">
    <div class="w-full">
      <SeguimientoTabla client:load />
    </div>
  </div>
</LayoutAdmin>
