---
import { Image } from "astro:assets";
import whatsappIcon from "../../assets/icons/icon_whatsapp.webp";
---
<a href="https://wa.me/912849782" class="fixed w-15 h-15 bottom-10 right-10 z-100 transition duration-200 ease-in-out transform hover:scale-120" target="_blank" rel="noopener noreferrer" >
    <Image class="w-full h-full" src={whatsappIcon} alt="Connect with me" />
</a>