---
import WhatsAppIcon from "../../assets/icons/WhatsAppIcon.astro";
---
<a  href="https://wa.me/912849782" 
    class="fixed size-15 bottom-10 right-10 z-100 transition duration-200 ease-in-out transform hover:scale-120" 
    target="_blank" 
    rel="noopener noreferrer"
    aria-label="Contactar por WhatsApp al 912 849 782">
    <WhatsAppIcon class="size-full"/>
</a>